<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1IacPsthn-aJk4Yq5L9MNZ5C75JDi1zQ</string>
	<key>GCM_SENDER_ID</key>
	<string>468552333995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.junction23.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>junction23-f7df7</string>
	<key>STORAGE_BUCKET</key>
	<string>junction23-f7df7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468552333995:ios:9a379a4574d871c20a15ee</string>
</dict>
</plist>